MONGO_URI=mongodb+srv://kalikereananda_db_user:gPCmbPlCr8GLELT6@cluster0.yijfz0y.mongodb.net/cowDB?retryWrites=true&w=majority

PORT=5000
JWT_SECRET=nLbQ.H,yn9P6AM42
CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_API_KEY=537978129354415
CLOUDINARY_API_SECRET=EspKL4pVE2AUSoxkrBtTQ_NSrkM

AI_API_URL=http://localhost:8000

